@import "../../../../../styles.scss";

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;

  i {
    font-size: 30px;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 0 40px;
  }
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: $cinza;
    text-decoration: none;
  }
  .btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 3em;
    background-color: $cinza;
    color: $cinza;
    cursor: pointer;
    transition: 0.2s;
  }
}
header.rolagem {
  background-color: $vermelho;
  padding: 20px 4%;
  z-index: 100;
  a,
  i {
    color: $cinza;
  }
  .btn-contato button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: $cinza;
    text-decoration: none;
    color: $vermelho;
  }
}
